[Unit]
SourcePath=/sbin/reboot-daemon
Description= reboot-daemon service

[Service]
Restart=always
User=system
Group=rebooters
ExecStartPre=+mkfifo /dev/rebooterdev
ExecStartPre=+chown system:rebooters /dev/rebooterdev
ExecStartPre=+chmod 0620 /dev/rebooterdev
ExecStartPre=+/sbin/restorecon /dev/rebooterdev
ExecStart=/sbin/reboot-daemon
ExecStopPost=+rm -rf /dev/rebooterdev

[Install]
WantedBy=multi-user.target
